* {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    color: black;
}

html,body {
    height: 100%;
}

.bungkus{
    width: 620px;
}